body

  height: 2000px
  &::before
    width: 792px
    height: 794px
    // background: yellow
    content: ""
    position: absolute
    top: 0
    right: 0
    z-index: -1
    background-image: $hero_splash1

.hero
  // background: orange

  .hero-body
    padding-left: 0px
    padding-right: 0px

    .container
      padding-top: 173px

      margin-left: 102px
      max-width: 600px

      h1.title
        font-family: 'druktext'
        font-size: 60px
        font-weight: 700
        color: #000

      p
        font-family: 'open-sans'
        font-weight: 400
        font-size: 18px
        line-height: 24.51px
        color: rgba(0,0,0, 0.4)

      .hero-btn 
        font-family: 'syne'
        font-weight: 700
        top: 46px
        position: relative
        font-size: 22px
        color: #000
        text-decoration: none

    .side-image
      .image
        width: 567px
        height: 446.26px
        // background: black
        margin: 20px auto
        background-image: $hero_hamburger1
    


