body

  &.body-alt

    nav.navbar
      a
        color: white !important

        &:hover
          background: rgba(0,0, 0,0)
          border-bottom: 1px solid $color-splash

    &::after
      z-index: -1
      content: ""      
      width: 100%
      height: 200px
      background: #000
      position: absolute
      top: 0px

    &::before
      content: ""
      width: 605px
      height: 725px
      background-size: 605px 725px 
      background-repeat: no-repeat
      position: absolute
      top: 30px
      right: 0
      z-index: 0
      background-image: $hero_splash2
  
  &::before
    content: ""
    width: 792px
    height: 794px
    position: absolute
    top: 0
    right: 0
    z-index: 0
    background-image: $hero_splash1

  

.hero

  &.hero-alt
    background: black   
  
  .hero-body
    padding-left: 0px
    padding-right: 0px

    .container
      padding-top: 173px

      margin-left: 102px
      max-width: 600px

      h1.title
        @extend %primaryTitle
        font-size: 60px

        &.title-alt
          color: white
        
      p
        @extend %normalParagraph

      .hero-btn 
        @extend %actionLink

    .side-image
      .image
        width: 567px
        height: 446.26px
        margin: 20px auto
        background-image: $hero_hamburger1

        &.image-alt
          background-image: $hero_hamburger2
          width: 648px
          height: 472px

    


