

/**
 * Site Images
 */
$hero_hamburger1: url(../dist/assets/images/hero_hamburger1.png)
$hero_hamburger2: url(../dist/assets/images/hero_hamburger2.png)

$hero_splash1: url(../dist/assets/images/hero_splash1.png)


