
/**
 * Colors
 */
$color-primary: #000
$color-secondary: rgba(0,0,0, 0.4)
$color-splash: #FFD600


/**
 * Site Images
 */
$hero_hamburger1: url(../dist/assets/images/hero_hamburger1.png)
$hero_hamburger2: url(../dist/assets/images/hero_hamburger2.png)

$hero_splash1: url(../dist/assets/images/hero_splash1.png)

$about_us_photo: url(../dist/assets/images/about_us_photo.png)
$curly_line_img: url(../dist/assets/images/curly_line_img.png)


